<div class="face-snap-card">
  <h2> {{faceSnap.title}}</h2>
  <p>Mise en ligne le : <br>{{faceSnap.createdDate}}</p>

  <!--attribut binding-->
  <!--  <img src="{{imageUrl}}" alt="{{title}}">-->
  <img [src]="faceSnap.imageUrl" [alt]="title">
  <p>{{faceSnap.description}}</p>
  <p *ngIf="faceSnap.location==='Paris' ">Photo prise à: {{faceSnap.location}}</p>

  <p>
    <button (click)="onSnap()"> {{buttonText}}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>  </p>
  
</div>
